<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Update</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css">
<style>
  .activitytable {
width: 100%;
border-collapse: collapse;
margin: 0px 0;
font-size: 12px;
text-align: center;
}
.btn{
  background-color: #ee5b5b;
  color: white;
}
.btn:hover{
  background-color: #35beb3;
  color: #000;
}
th, td {
padding: 5px;
border-bottom: 1px solid #d1bfbf;
}

th {
background-color: #f17575;
color: #f3eeee;
}

tr:hover {
background-color: #f8c2c2;
}
td:hover {
            transform: scale(1.5);
            z-index: 1;
            position: relative;
        }
td:hover::after {
            content: attr(data-fulltext);
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 5px;
            white-space: nowrap;
            z-index: 2;
            transform: scale(1);
        }
.editing {
border: 1px solid #000;
}

button {
padding: 5px 10px;
margin: 0 5px;
border: none;
background-color: #35beb3;
color: white;
cursor: pointer;
border-radius: 5px;
}

button:hover {
background-color: #ee5b5b;
}

button:disabled {
background-color: #ccc;
cursor: not-allowed;
}

button.cancel {
background-color: #7a0712;
}

button.cancel:hover {
background-color: #5a2227;
}

</style>
<script>
  function enableEdit(id) {
      const row = document.getElementById(`row-${id}`);
      const fields = row.querySelectorAll('.editable');
      fields.forEach(field => {
          field.removeAttribute('readonly');
          field.classList.add('editing');
      });

      document.getElementById(`edit-${id}`).style.display = 'none';
      document.getElementById(`delete-${id}`).style.display = 'none';
      document.getElementById(`update-${id}`).style.display = 'inline';
      document.getElementById(`cancel-${id}`).style.display = 'inline';
  }

  function cancelEdit(id) {
      const row = document.getElementById(`row-${id}`);
      const fields = row.querySelectorAll('.editable');
      fields.forEach(field => {
          field.setAttribute('readonly', true);
          field.classList.remove('editing');
      });

      document.getElementById(`edit-${id}`).style.display = 'inline';
      document.getElementById(`delete-${id}`).style.display = 'inline';
      document.getElementById(`update-${id}`).style.display = 'none';
      document.getElementById(`cancel-${id}`).style.display = 'none';
  }

  function confirmDelete(id) {
      if (confirm('Do you want to delete this activity? Click Yes to delete and Cancel to abort.')) {
          document.getElementById(`delete-form-${id}`).submit();
      }
  }
</script>
</head>
<body>
    <nav class="navbar ">
        <div >
          <a class="navbar-brand" href="/">
            <img src="/images/logo-ic.png" alt="Chrysalis" >
          </a>
          <a class="navbar-brand" href="/">
            <img src="/images/logo-tx.png" alt="Chrysalis" >
          </a>
        </div>
      </nav>

      <div>
        <h1 class="text-center">Weekly update Activity Calendar</h1>
        <% if(typeof errors != 'undefined'){ %>
            <% errors.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        
                </div>
           <% }); %>
        <% } %>
        <% if (msg) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= msg %>
                
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    
            </div>
            
          <% } %>
      </div>
   <div class=" datafield container border border-danger-subtle border-5">

       <Form action="/createactivity" method="post">
        <label for="ActivityType"  name="activityType" class="form-label">Activity Category <span style="color: red;" >*</span></label>
        <input class="form-control" list="datalistOptions" id="ActivityType" name="activityType" placeholder="Type to search... (REQUIRED)" value="<%= typeof activityType != 'undefined' ? activityType : '' %>">
        <datalist id="datalistOptions">
          <option value="Rollouts">
          <option value="TTT/Teach Back">
          <option value="Content Creation">
          <option value="Task pending from past week">
          <option value="eLearning Task">
            <option value="Diagnostics">
        </datalist> 
        <label for="ActivityName" class="form-label">Activity Name <span style="color: red;" >*</span></label>
        <input class="form-control" id="ActivityName" name="activityName" placeholder="Activity (REQUIRED)" value="<%= typeof activityName != 'undefined' ? activityName : '' %>">
        <label for="startdate" class="form-label date"  >Start Date</label>
        <input class="form-control input-group date" id="startdate" data-date-format="dd/mm/yyyy" name="startDate" placeholder="Start Date: Blank to enter NA" value="<%= typeof startDate != 'undefined' ? startDate : '' %>">
        <label for="enddate" class="form-label">End Date</label>
        <input class="form-control" id="enddate" data-date-format="dd/mm/yyyy" name="endDate" placeholder="End Date: Blank to enter NA" value="<%= typeof endDate != 'undefined' ? endDate : '' %>">
        <label for="Resource" class="form-label">Resource <span style="color: red;" >*</span></label>
        <input class="form-control" id="Resource" name="resource" placeholder="Resource Name (REQUIRED)" value="<%= typeof resource != 'undefined' ? resource : '' %>">
        <label for="activityMode"  name="activityMode" class="form-label">Activity Type </label>
        <input class="form-control" list="datalistOptions2" id="activityMode" name="activityMode" placeholder="Type to search..." value="<%= typeof activityMode != 'undefined' ? activityMode : '' %>">
        <datalist id="datalistOptions2">
          <option value="Classroom">
          <option value="E-Classroom">
          <option value="Coaching">
          <option value="Group Coaching">
        </datalist> 
        <div class="mb-3">
            <label for="Remarks" class="form-label">Remarks</label>
            <textarea class="form-control" name="remarks" id="Remarks" rows="3" value="<%= typeof remarks != 'undefined' ? remarks : '' %>"></textarea>
        </div>
         <button
            type="submit"
            class="btn"
            >
            Add Activity
         </button>
         
       </Form>
    </div>
    <h1 style="text-align: center;">Activity List</h1>
    <table class="activitytable" >
      <thead>
          <tr>
              <th>Category</th>
              <th>Activity</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Resource</th>
              <th>Activity Type</th>
              <th>Remarks</th>
              <th>Completed?</th>
              <th>Created On</th>
              <th>Updated On</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <% activities.forEach(activity => { %>
              <tr id="row-<%= activity._id %>">
                  <form action="/update/<%= activity._id %>" method="POST">
                      <td><input type="text" name="activityType" value="<%= activity.activityType %>" class="editable" readonly></td>
                      <td><input data-fulltext="<%= activity.activityName %>" type="text" name="activityName" value="<%= activity.activityName %>" class="editable" readonly></td>
                      <td><input type="text" name="startDate" value="<%= activity.startDate %>" class="editable" readonly></td>
                      <td><input type="text" name="endDate" value="<%= activity.endDate %>" class="editable" readonly></td>
                      <td><input type="text" name="resource" value="<%= activity.resource %>" class="editable" readonly></td>
                      <td><input type="text" name="activityMode" value="<%= activity.activityMode %>" class="editable" readonly></td>
                      <td><input type="text" name="remarks" value="<%= activity.remarks %>" class="editable" readonly></td>
                      <td><input type="text" name="status" value="<%= activity.status %>" class="editable" readonly></td>
                      <td><input type="text" name="createdOn" value="<%= activity.createdOn %>"  readonly></td>
                      <td><input type="text" name="updatedOn" value="<%= activity.updatedOn %>"  readonly></td>
                      <td>
                          <button type="button" title="Edit record" id="edit-<%= activity._id %>" onclick="enableEdit('<%= activity._id %>')"><i class="ri-edit-line"></i></button>
                          <button type="submit" title="Update record" id="update-<%= activity._id %>" style="display:none;"><i class="ri-git-repository-commits-line"></i></button>
                          <button type="button" title="Cancel Edit" id="cancel-<%= activity._id %>" style="display:none;" onclick="cancelEdit('<%= activity._id %>')"><i class="ri-close-circle-line"></i></button>
                          <button type="button" title="Delete record" id="delete-<%= activity._id %>" onclick="confirmDelete('<%= activity._id %>')"><i class="ri-delete-bin-5-line"></i></button>
                      </td>
                  </form>
                  <form id="delete-form-<%= activity._id %>" action="/delete/<%= activity._id %>" method="POST" style="display:none;"></form>
              </tr>
          <% }) %>
      </tbody>
  </table>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>
       
    <script>
        // var today = new Date();
        // var MylastDayOfMonth = new Date(today.getFullYear(), today.getMonth()+1, 0);
        // console.log(MylastDayOfMonth);
        $(function () {
            $("#startdate, #enddate").datepicker({
                autoclose: true,
                todayHighlight: true,
                multidate: false,
                // startDate: today,
                // endDate: MylastDayOfMonth,
                
                displayWeekNumbers: true
                
            }).datepicker('update', new Date());
        }); 
        
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js">
    </script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>