<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Update</title>
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css">
<style>
  .esctable {
width: 100%;
border-collapse: collapse;
margin: 0px 0;
font-size: 12px;
text-align: center;
}
.btn{
  background-color: #ee5b5b;
  color: white;
}
.btn:hover{
  background-color: #35beb3;
  color: #000;
}
th, td {
padding: 5px;
border-bottom: 1px solid #d1bfbf;
}

th {
background-color: #f17575;
color: #f3eeee;
}

tr:hover {
background-color: #f8c2c2;
}
td:hover {
            transform: scale(1.5);
            z-index: 1;
            position: relative;
        }
td:hover::after {
            content: attr(data-fulltext);
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 5px;
            white-space: nowrap;
            z-index: 2;
            transform: scale(1);
        }
.editing {
border: 1px solid #000;
}

button {
padding: 5px 10px;
margin: 0 5px;
border: none;
background-color: #35beb3;
color: white;
cursor: pointer;
border-radius: 5px;
}

button:hover {
background-color: #ee5b5b;
}

button:disabled {
background-color: #ccc;
cursor: not-allowed;
}

button.cancel {
background-color: #7a0712;
}

button.cancel:hover {
background-color: #5a2227;
}

</style>
<script>
  function enableEdit(id) {
      const row = document.getElementById(`row-${id}`);
      const fields = row.querySelectorAll('.editable');
      fields.forEach(field => {
          field.removeAttribute('readonly');
          field.classList.add('editing');
      });

      document.getElementById(`edit-${id}`).style.display = 'none';
      document.getElementById(`delete-${id}`).style.display = 'none';
      document.getElementById(`update-${id}`).style.display = 'inline';
      document.getElementById(`cancel-${id}`).style.display = 'inline';
  }

  function cancelEdit(id) {
      const row = document.getElementById(`row-${id}`);
      const fields = row.querySelectorAll('.editable');
      fields.forEach(field => {
          field.setAttribute('readonly', true);
          field.classList.remove('editing');
      });

      document.getElementById(`edit-${id}`).style.display = 'inline';
      document.getElementById(`delete-${id}`).style.display = 'inline';
      document.getElementById(`update-${id}`).style.display = 'none';
      document.getElementById(`cancel-${id}`).style.display = 'none';
  }

  function confirmDelete(id) {
      if (confirm('Do you want to delete this entry? Click Yes to delete and Cancel to abort.')) {
          document.getElementById(`delete-form-${id}`).submit();
      }
  }
</script>
</head>
<body>
    <nav class="navbar ">
        <div >
          <a class="navbar-brand" href="/">
            <img src="/images/logo-ic.png" alt="Chrysalis" >
          </a>
          <a class="navbar-brand" href="/">
            <img src="/images/logo-tx.png" alt="Chrysalis" >
          </a>
        </div>
    </nav>

    <div>
        <h1 class="text-center">Weekly Escalations Record</h1>
        <% if(typeof errors != 'undefined'){ %>
            <% errors.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        
                </div>
           <% }); %>
        <% } %>
        <% if (msg) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= msg %>
                
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    
            </div>
            
          <% } %>
    </div>
    <div class=" datafield container border border-danger-subtle border-5">

       <Form action="/escAdmin" method="post">

        <label for="clientName"  name="clientName" class="form-label">Client Name<span style="color: red;" >*</span></label>
        <input class="form-control" id="clientName" name="clientName" placeholder="Client Name (REQUIRED)" value="<%= typeof clientName != 'undefined' ? clientName : '' %>">
        
        <label for="taskName" class="form-label">Task Name <span style="color: red;" >*</span></label>
        <input class="form-control" id="taskName" name="taskName" placeholder="Task Name (REQUIRED)" value="<%= typeof taskName != 'undefined' ? taskName : '' %>">
        
        <label for="level"  name="level" class="form-label">Level </label>
        <input class="form-control" list="datalistOptions" id="level" name="level" placeholder="Type to search..." value="<%= typeof level != 'undefined' ? level : '' %>">
        <datalist id="datalistOptions">
          <option value="0-3">
          <option value="4-10">
          <option value="> 10">
        </datalist> 

        <label for="Resource" class="form-label">Resource <span style="color: red;" >*</span></label>
        <input class="form-control" id="Resource" name="resource" placeholder="Resource Name (REQUIRED)" value="<%= typeof resource != 'undefined' ? resource : '' %>">
        
        
        <label for="status"  name="status" class="form-label">Status </label>
        <input class="form-control" list="datalistOptions2" id="status" name="status" placeholder="choose status value..." value="<%= typeof status != 'undefined' ? status : '' %>">
        <datalist id="datalistOptions2">
            <option value="In Progress">
            <option value="On Hold"></option>
            <option value="Not Started"></option>
            <option value="Cancelled"></option>
            <option value="Resolved"></option>                   
        </datalist> 
                
        <div class="mb-3">
            <label for="Remarks" class="form-label">Remarks</label>
            <textarea class="form-control" name="remarks" id="Remarks" rows="3" value="<%= typeof remarks != 'undefined' ? remarks : '' %>"></textarea>
        </div>
        
         <button
            type="submit"
            class="btn"
            >
            Add Escalation
         </button>
         
       </Form>
    </div>
    <h1 style="text-align: center;">Escalation List</h1>
    <table class="esctable" >
      <thead>
          <tr>
              <th>Client Name</th>
              <th>Task Name</th>              
              <th>Resource</th>
              <th>Level</th>
              <th>Remarks</th>
              <th>Completed?</th>
              <th>Created On</th>
              <th>Updated On</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <% escalations.forEach(esc => { %>
              <tr id="row-<%= esc._id %>">
                  <form action="/update/<%= esc._id %>" method="POST">
                      <td><input type="text" name="clientName" value="<%= esc.clientName %>" class="editable" readonly></td>
                      <td><input type="text" name="taskName" value="<%= esc.taskName %>" class="editable" readonly></td>                      
                      <td><input type="text" name="resource" value="<%= esc.resource %>" class="editable" readonly></td>
                      <td><input type="text" name="level" value="<%= esc.level %>" class="editable" readonly></td>
                      <td><input type="text" name="remarks" value="<%= esc.remarks %>" class="editable" readonly></td>
                      <td><input type="text" name="status" value="<%= esc.status %>" class="editable" readonly></td>
                      <td><input type="text" name="createdOn" value="<%= esc.createdOn %>"  readonly></td>
                      <td><input type="text" name="updatedOn" value="<%= esc.updatedOn %>"  readonly></td>
                      <td>
                          <button type="button" title="Edit record" id="edit-<%= esc._id %>" onclick="enableEdit('<%= esc._id %>')"><i class="ri-edit-line"></i></button>
                          <button type="submit" title="Update record" id="update-<%= esc._id %>" style="display:none;"><i class="ri-git-repository-commits-line"></i></button>
                          <button type="button" title="Cancel Edit" id="cancel-<%= esc._id %>" style="display:none;" onclick="cancelEdit('<%= esc._id %>')"><i class="ri-close-circle-line"></i></button>
                          <button type="button" title="Delete record" id="delete-<%= esc._id %>" onclick="confirmDelete('<%= esc._id %>')"><i class="ri-delete-bin-5-line"></i></button>
                      </td>
                  </form>
                  <form id="delete-form-<%= esc._id %>" action="/delete/<%= esc._id %>" method="POST" style="display:none;"></form>
              </tr>
          <% }) %>
      </tbody>
  </table>
  <div class="footer" >
    <h3 class="footext">That was all!       You have reached inception.
    </h3>
    <p style=" text-align: center; margin-top: 10px;">Copyright © 2024  <a href="https://chrysalis.in">Chrysalis HRD</a></p>
  </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>
       
    <script>
        // var today = new Date();
        // var MylastDayOfMonth = new Date(today.getFullYear(), today.getMonth()+1, 0);
        // console.log(MylastDayOfMonth);
        $(function () {
            $("#startdate, #enddate").datepicker({
                autoclose: true,
                todayHighlight: true,
                multidate: false,
                // startDate: today,
                // endDate: MylastDayOfMonth,
                
                displayWeekNumbers: true
                
            }).datepicker('update', new Date());
        }); 
        
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js">
    </script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>