<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escalations Update</title>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
  <nav class="navbar ">
    <div class="">
      <a class="navbar-brand" href="/">
        <img src="/images/logo-ic.png" alt="Chrysalis" >
      </a>
      <a class="navbar-brand" href="/">
        <img src="/images/logo-tx.png" alt="Chrysalis" >
      </a>
    </div>
  </nav>
<div>
<a href="/"><i class="ri-timer-flash-line"></i>Home</a>
<a href="/escAdmin"><i class="ri-admin-line"></i> Escalations Admin</a>

</div>
<h1 style="text-align: center;">Escalations</h1>


  <div class="esclist mb-50 d-flex justify-content-center">
    <table class="table-striped table-auto m-2 bg-white border border-gray-300" >
      <thead class="bg-warning">
        <tr>
          <th class="border border-gray-300 px-4 py-2">Client Name</th>
          <th class="border border-gray-300 px-4 py-2">Task Name</th>
          <th class="border border-gray-300 px-4 py-2">Level (Days)</th>
          <th class="border border-gray-300 px-4 py-2">Resource</th>
          <th class="border border-gray-300 px-4 py-2">Remarks</th>
          <th class="border border-gray-300 px-4 py-2">Status</th>
        </tr>
      </thead>
      <tbody>
        <% escalations.forEach(esc => { %>
          <tr>
            <td class="border border-gray-300 px-4 py-2 text-center"><%= esc.clientName %></td>
            <td class="border border-gray-300 px-4 py-2 text-center"><%= esc.taskName %></td>
            <td class="border border-gray-300 px-4 py-2 text-center"><%= esc.level %></td>
            <td class="border border-gray-300 px-4 py-2 text-center"><%= esc.resource %></td>
            <td class="border border-gray-300 px-4 py-2 text-center"><%= esc.remarks %></td>
            <td class="border border-gray-300 px-4 py-2 text-center"><%= esc.status %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
</div>
<div class="footer" >
  <h4 class="footext" style=" text-align: center;">That was all!  </h4>
  <p style=" text-align: center; margin-top: 10px;">Copyright © 2024  <a href="https://chrysalis.in">Chrysalis HRD</a></p>
</div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>