<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test esc task</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <script>
        window.tasks = <%- JSON.stringify(tasks) %>             
        tasks.forEach(task => {
        let endDateObj = new Date(task.endDate.split("/").reverse().join("-"));
        let today = new Date();
        let level; 
        if (today < endDateObj){
          let diff  = endDateObj - today;
          let delayInDays = Math.floor(diff / (1000 * 60 * 60 * 24));
          if(delayInDays>0 && delayInDays<4){
            level = '0-3';
          } else if(delayInDays>=4 && delayInDays<10){
            level = '4-10';
          } else{
            level = '>10';
          }
          task.level = level;
        } else{
          console.log(`task: ${task.activityName} is within deadline.`)
        }});
        console.log(tasks);
    </script>
    <nav class="navbar">
        <div class="">
          <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="Chrysalis" >
          </a>
        </div>
      </nav>
    <div class="title">
        <H1>Test tasks object incoming</H1>
    </div>
    <div class="esclist mb-50 d-flex justify-content-center">
      <table class="table-striped table-auto m-2 bg-white border border-gray-300" >
        <thead class="bg-warning">
          <tr>
            <th class="border border-gray-300 px-4 py-2">Client Name</th>
            <th class="border border-gray-300 px-4 py-2">Task Name</th>
            <th class="border border-gray-300 px-4 py-2">Level (Days)</th>
            <th class="border border-gray-300 px-4 py-2">Resource</th>
            <th class="border border-gray-300 px-4 py-2">Remarks</th>
            <th class="border border-gray-300 px-4 py-2">Status</th>
          </tr>
        </thead>
        <tbody>
          <% tasks.forEach(esc => { %>
            <% let clientTask= esc.activityName %>
            <% let splitIndex = clientTask.indexOf('_'); %>
            <% let clientName = clientTask.substring(0, splitIndex) %>
            <% let taskName = clientTask.substring(splitIndex + 1) %>           

            <tr>
              <td class="border border-gray-300 px-4 py-2 text-center"><%= clientName %></td>
              <td class="border border-gray-300 px-4 py-2 text-center"><%= taskName %></td>
              <td class="border border-gray-300 px-4 py-2 text-center"><%= esc.level %></td>
              <td class="border border-gray-300 px-4 py-2 text-center"><%= esc.resource %></td>
              <td class="border border-gray-300 px-4 py-2 text-center"><%= esc.remarks %></td>
              <td class="border border-gray-300 px-4 py-2 text-center"><%= esc.status %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      
  </div>
    
</body>
</html>